._4-do {
	text-align: center
}
._4-dp {
	font-size: 24px;
	line-height: 28px;
	margin: 40px 0 20px
}
._4-dq {
	font-size: 16px;
	line-height: 28px;
	margin: 20px 0
}
._4-dr {
	font-size: 12px;
	line-height: 20px
}
.unsupportedBrowser, .unsupportedBrowser #contentCurve {
	background-color: #e9ebee
}
.unsupportedBrowserPage {
	margin: 0 auto;
	width: 930px
}
.unsupportedBrowserBox {
	text-align: center;
	padding: 30px 20px
}
.unsupportedBrowserText {
	margin-left: auto;
	margin-right: auto;
	width: 570px
}
.unsupportedBrowserBrowser {
	display: inline-block;
	border: 1px solid #fff
}
.unsupportedBrowserBrowser:hover {
	text-decoration: none;
	background: #f6f7f9;
	border-color: #dddfe2
}
.unsupportedBrowserMobile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 320px
}
.fbPageBanner {
	position: relative;
	z-index: 301
}
.hideBanner .fbPageBanner, .fixedBody .fbPageBanner {
	display: none
}
.fbPageBannerInner {
	margin: auto;
	max-width: 950px;
	min-width: 920px
}
.sidebarMode .fbPageBannerInner {
	left: -102px;
	position: relative
}
._30ny {
	padding: 80px 0
}
.menu_login_container table tr {
	vertical-align: top
}
.menu_login_container table tr td {
	padding: 0 0 0 14px
}
.menu_login_container .html7magic {
	padding-bottom: 4px
}
.menu_login_container .inputtext, .menu_login_container .inputpassword {
	border-color: #1d2a5b;
	margin: 0;
	width: 142px
}
.menu_login_container .login_form_label_field label, .menu_login_container .login_form_label_field a {
	color: #9cb4d8;
	font-weight: normal
}
.menu_login_container .login_form_label_field {
	padding-top: 4px
}
.menu_login_container .html7magic label {
	color: #fff;
	font-weight: normal;
	padding-left: 1px
}
.menu_login_container #email {
	direction: ltr
}
.login_form_standalone_labels .inputtext, .login_form_standalone_labels .inputpassword {
	border-color: #96a6c5;
	font-size: 16px;
	padding: 6px;
	width: 250px
}
.login_form_standalone_labels label {
	color: #1d2a5b;
	font-size: 13px;
	font-weight: normal
}
.login_form_standalone_labels .login_form_label_field a {
	color: #365899;
	font-size: 13px
}
.login_form_standalone_labels td.html7magic {
	text-align: right
}
.login_form_standalone_labels .uiButton input {
	font-size: 13px;
	padding: 3px 25px 5px
}
table.login_form_standalone_labels tr td {
	height: 30px;
	padding: 0;
	vertical-align: middle
}
._5l9y {
	color: #c4d2e7;
	text-decoration: underline
}
._5la0 {
	float: right;
	margin-top: 2px
}
div._3d9x {
	background-color: #29487d;
	border: 1px solid #4267b2;
	color: #c4d2e7
}
div._3d9x .fbPageBannerInner {
	max-width: 980px;
	min-width: 100px
}
._5vb_ div._3d9x .fbPageBannerInner {
	max-width: 960px
}
._2xk0 div._3d9x .fbPageBannerInner {
	max-width: 1012px
}
._6_ {
	display: inline-block;
	vertical-align: top
}
._70 {
	width: 67px
}
._71 {
	width: 150px
}
._72 {
	width: 233px
}
._73 {
	width: 316px
}
._74 {
	width: 399px
}
._75 {
	width: 482px
}
._76 {
	width: 565px
}
._77 {
	width: 648px
}
._78 {
	width: 731px
}
._79 {
	width: 814px
}
._7a {
	width: 897px
}
._7b {
	width: 980px
}
._7c {
	margin-left: 15.999px !important
}
._7d {
	margin-right: 15.999px !important
}
._6n {
	font-size: 23px;
	line-height: 120%
}
._6o {
	font-size: 19px;
	line-height: 126%
}
._6p {
	font-size: 17px;
	line-height: 22px
}
._6q {
	font-size: 15px;
	line-height: 20px
}
._6s {
	color: #333
}
._6t {
	color: #666
}
._6u {
	color: #999
}
._7g {
	color: #fff
}
._6v {
	font-weight: bold
}
._mf {
	font-weight: normal
}
._6w {
	text-align: left
}
._6x {
	text-align: center
}
._6y {
	text-align: right
}
._6z {
	text-align: justify
}
.loggedout_menubar_container {
	height: 82px;
	min-width: 980px
}
.loggedout_menubar_tall_container {
	height: 110px;
	min-width: 980px
}
.loggedout_menubar {
	margin: 0 auto;
	padding-top: 13px;
	width: 980px
}
.loggedout_menubar_long {
	margin: 0 auto;
	padding-top: 13px;
	width: 1012px
}
.loggedout_menubar .fb_logo {
	margin-top: 17px
}
.loggedout_menubar_long .fb_logo {
	margin-top: 17px
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
.loggedout_menubar i.fb_logo {
	background-image: url(http://facebook.com/rsrc.php/v3/y4/r/gf6iHxsw8zm.png);
	background-position: 0 0;
	background-size: 100% 100%
}
}
.loggedout_menubar label.menu_login_show_link {
	color: #9cb4d8;
	position: relative;
	top: 19px
}
.signupBanner div.signup_bar_container {
	background-color: transparent
}
.signupBanner .signup_box {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 980px
}
.signupBanner .signup_btn {
	left: 180px;
	position: absolute;
	top: -42px
}
.signupBanner .signup_btn_thickbar {
	left: 180px;
	position: absolute;
	top: -70px
}
.signup_area {
	margin-top: 19px
}
._53jh {
	background-color: #3b5998;
	background-image: linear-gradient(#4e69a2, #3b5998 50%);
	border-bottom: 1px solid #133783;
	min-height: 42px
}
.tinyViewport ._53jh {
	min-width: -webkit-max-content;
	min-width: max-content
}
.UIPage_LoggedOut.UIPage_LoggedOutWithBaseWash .UIFullPage_Container, .UIPage_LoggedOut.UIPage_LoggedOutWithBaseWash .UIStandardFrame_Container {
	background: #e9ebee
}
.UIPage_LoggedOut .UIFullPage_Container, .UIPage_LoggedOut .UIStandardFrame_Container {
	padding-bottom: 46px;
	padding-top: 46px;
	width: auto
}
.UIPage_LoggedOut .fbPhotosGrid .photoDetails {
	width: inherit
}
.sp_09FcbPZ-oKL {
	background-image: url(http://facebook.com/rsrc.php/v3/yE/r/B8C3hdxyCCg.png);
	background-size: auto;
	background-repeat: no-repeat;
	display: inline-block;
	height: 170px;
	width: 170px
}
.sp_09FcbPZ-oKL.sx_550203 {
	background-position: 0 0
}
.sp_09FcbPZ-oKL.sx_aa7e2d {
	background-position: 0 -171px
}
.sp_09FcbPZ-oKL.sx_af8a9b {
	background-position: 0 -342px
}
.sp_09FcbPZ-oKL.sx_cc4c1b {
	width: 79px;
	height: 78px;
	background-position: 0 -513px
}
#bootloader_ZzwAs {
	height: 42px;
}
.bootloader_ZzwAs {
	display: block!important;
}
