html, body {
	border: 0
}
body.booklet {
	margin: 0;
	padding: 0;
	overflow: visible
}
#booklet {
	margin: 0;
	padding: 0
}
#booklet #content {
	border: 0 solid white;
	float: none;
	margin: 0;
	padding: 0;
	width: auto
}
#booklet #pageheader {
	background: #365899;
	color: #fff
}
#booklet #pageheader #homelink {
	background: url(http://facebook.com/rsrc.php/v3/yR/r/teE39sffXW8.png) no-repeat 10px 50%;
	color: #fff;
	margin: 0;
	padding: 8px 10px 8px 30px
}
#booklet #fbpageheader {
	background-color: #365899;
	border-bottom: 1px solid #1a3878;
	height: 34px
}
#booklet #fbpageheader #logo {
	float: left;
	background-image: url(http://facebook.com/rsrc.php/v3/yJ/r/1pNn8nSi7l-.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 4px -2px;
	height: 34px;
	width: 96px
}
#booklet #fbpageheader a {
	color: #fff;
	display: inline-block;
	float: right;
	font-weight: bold;
	margin-top: 6px
}
#booklet #fbpageheader a:hover, #booklet #fbpageheader a:focus, #booklet #fbpageheader a:active {
	background-color: #4267b2;
	outline: none;
	text-decoration: none
}
#booklet #dialog_buttons {
	padding: 8px 10px
}
#booklet #dialog_buttons input {
	margin: 2px
}
#booklet #pagefooter #pagefooter_links {
	width: auto
}
#booklet #pagefooter {
	width: auto;
	margin: 0 auto
}
#booklet #pagefooter .copyright_and_location {
	width: auto
}
#booklet .status {
	margin: 0
}
._3zrd {
	background-color: #141823
}
._3zrd #globalContainer {
	left: 50%;
	margin-left: -490.5px;
	position: relative
}
._3zrd .inputtext {
	background-color: #2f4471;
	border: 1px solid rgba(255,255,255,.10);
	color: #fff;
	height: 30px;
	margin-top: -13px
}
._3zrd a, ._3zrd .uiInputLabelLabel {
	color: #90949c
}
._3zrd .login_page_interstitial {
	background-color: transparent;
	border: none;
	margin-top: 5vh
}
._3zrd .login_page_interstitial .interstitialHeader {
	display: none
}
._3zre {
	display: block;
	height: 36px;
	margin-bottom: 36px;
	margin-left: auto;
	margin-right: auto;
	width: auto
}
._4wix {
	height: 300px;
	margin: 0 auto;
	width: 300px
}
._4wiz {
	border-radius: 100px;
	margin-left: calc(150px - 60px);
	margin-top: 30px
}
._4wj1 {
	background-color: #5b78f9;
	border-radius: 50px;
	cursor: pointer;
	display: block;
	margin-top: 30px;
	padding: 15px 20px;
	text-align: center;
	width: 250px
}
._4wiy {
	color: #fff;
	font-family: segoe ui light, helvetica, arial;
	font-size: 18px;
	text-align: center
}
._4wj2 {
	font-weight: bold
}
._4wj0 {
	font-family: segoe ui, helvetica, arial;
	font-size: 14px;
	margin-top: 40px;
	position: absolute;
	text-align: center;
	width: 290px
}
.login_page .title_header {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0
}
.login_page .login_page_spacer {
	height: 35px
}
.login_page .title_header h2.no_icon {
	background: transparent none repeat scroll 0%;
	margin: 0;
	padding: 0
}
.login_page #loginform {
	clear: left;
	margin: auto;
	padding: 15px 0;
	text-align: left;
	width: 380px
}
.login_page #signup_area {
	clear: left;
	margin: auto;
	width: 380px
}
.login_page .signup_button {
	float: left
}
.login_page .fbLoginNuxTrackingPixel {
	display: inline;
	height: 0;
	width: 0
}
.login_page .signup_text {
	float: left;
	width: 200px;
	margin: 0 0 20px 10px
}
.login_page hr {
	width: 280px;
	margin-left: 0
}
.login_page #loginform p {
	line-height: 16px;
	margin: 10px 0;
	text-align: left
}
.login_page #loginform p.reset_password {
	margin-bottom: 0;
	padding-bottom: 0
}
.login_page .apinote {
	margin: 10px auto;
	width: 450px;
	background: #fff
}
.login_page .apinote h2 {
	font-size: 12px;
	margin-bottom: 6px
}
.login_page .login_form_container .dialog_buttons {
	background-color: #f6f7f9;
	border-top: 1px solid #ccc;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 8px 10px;
	position: absolute;
	right: 0;
	text-align: right
}
.login_page .dialog_buttons .logged_in_as {
	float: left;
	width: 240px;
	margin-top: 3px;
	text-align: left
}
.login_page .dialog_buttons .register_link {
	float: left;
	text-align: left;
	margin-top: 4px;
	font-weight: bold
}
.login_page #email {
	direction: ltr
}
.login_page #error {
	margin-top: 20px
}
div.login_page_interstitial {
	margin-bottom: 0;
	margin-top: 0;
	width: 640px
}
.login_page .login_message {
	margin: auto;
	width: 640px
}
.login_page #booklet #content {
	float: none;
	margin-bottom: 46px;
	padding: 15px 30px 20px 30px;
	width: auto
}
.login_page #booklet #loginform {
	margin-top: 20px;
	padding-top: 0
}
.login_page #booklet #dialog_buttons input {
	margin: 0
}
.form_row {
	padding: 0 0 8px 0;
	text-align: left
}
.form_row .login_form_label {
	display: block;
	float: left;
	padding: 3px 0;
	width: 100px
}
.form_row input {
	margin: 0
}
.form_row .inputtext, .inputpassword {
	width: 175px
}
.form_row .checkbox {
	float: left;
	width: 15px;
	margin: 5px 4px 2px 0
}
.persistent {
	padding: 3px 0 3px 100px;
	text-align: left
}
#login_button_inline {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px
}
#register_link {
	margin-top: 5px;
	float: left
}
#buttons {
	padding: 5px 0 0 100px;
	text-align: left
}
#buttons .uiButton {
	margin-right: 2px
}
#buttons label {
	float: none;
	width: auto
}
.reset_password, .not_me_link {
	padding-left: 100px
}
.reset_password label {
	float: none;
	font-weight: normal;
	width: auto
}
.reset #content {
	padding: 20px
}
.login_error_box {
	margin-top: 10px
}
.login_page_private {
	background-color: #191919
}
.login_page_private a {
	color: #fff
}
._4rbf {
	color: #fff;
	font-size: 13px;
	max-width: 300px;
	padding: 8px
}
._1vu8:not(:focus) {
	background: #ffffff url(http://facebook.com/rsrc.php/v3/y6/r/eFrKTvRvpX9.png) no-repeat right 8px center;
	border: 1px solid #fa3e3e
}
.x1-5 ._1vu8:not(:focus), .x2 ._1vu8:not(:focus) {
	background-image: url(http://facebook.com/rsrc.php/v3/yu/r/ihdxZr4UqO6.png);
	background-size: 18px 18px
}
._4rer:not(:focus) {
	background: #ffffff url(http://facebook.com/rsrc.php/v3/y_/r/LrAUrow-LXX.png) no-repeat right 8px center;
	border: 1px solid;
	border-color: #8b0300;
	border-radius: 3px
}
.x1-5 ._4rer:not(:focus), .x2 ._4rer:not(:focus) {
	background-image: url(http://facebook.com/rsrc.php/v3/ym/r/m-sSi7fNQdd.png);
	background-size: 18px 18px
}
html ._44mg {
	padding: 6px 0;
	width: 302px
}
html ._1kbt._1kbt {
	font-size: 14px;
	padding: 5px 8px;
	width: 284px
}
._39il.login_page #loginform {
	padding: 0;
	text-align: center
}
._39il.login_page .persistent {
	padding: 18px 0;
	text-align: center
}
._1w1t {
	margin: auto;
	padding: 22px 108px 26px;
	width: 396px
}
._1uxu {
	margin: auto;
	width: 612px
}
._39il ._52e0 {
	font-size: 14px;
	width: 252px
}
._xkt {
	padding: 6px 0
}
._xku {
	padding: 18px 0
}
._5466 {
	margin: auto
}
._xkv {
	padding: 6px 0
}
._42w_ {
	margin: 0 auto 40px;
	width: 640px
}
._wp9 {
	padding: 6px 0
}
.login_page_private ._42w_ a.showMore {
	background-color: #191919
}
._3f2s {
	margin: auto;
	margin-top: 10px;
	text-align: center
}
#bootloader_HEE8w {
	height: 42px;
}
.bootloader_HEE8w {
	display: block!important;
}
